<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Estadísticas | Calidad de Vida DCC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header>
    <h1>Área de Calidad de Vida DCC</h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a href="{{ url_for('registro') }}">Registro de miembros</a></li>
        <li><a href="{{ url_for('registro_actividades') }}">Registro de actividades</a></li>
        <li><a href="{{ url_for('lista_miembros') }}">Listado de miembros</a></li>
        <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Estadísticas</h2>

      <p>
        Visualización general datos recopilados.
      </p>

      <div class="graficos">
        <img src="{{ url_for('static', filename='svg/grafico1.png') }}" alt="Participación por tipo de miembro" class="grafico-img">
        <img src="{{ url_for('static', filename='svg/grafico2.png') }}" alt="Horas dedicadas a actividades" class="grafico-img">
        <img src="{{ url_for('static', filename='svg/grafico3.png') }}" alt="Distribución de actividades" class="grafico-img">
      </div>

    </section>
  </main>
</body>
</html>