<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio | Calidad de Vida DCC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header>
    <h1>Área de Calidad de Vida DCC</h1>

  </header>
<main>
  <section>
    <h2>Bienvenido</h2>

    <p>
       Registra lo que haces y participa junto a otros miembros.
    </p>
    <p>
      Usa el menú superior para comenzar.
    </p>
    <p class="datos">
      <button type="button" onclick="window.location.href='{{ url_for('registro') }}'">Comenzar</button>
    </p>
  </section>
</main>
</body>
</html>





